# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/SharepointAuth.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
dependency-reduced-pom.xml
lib/
src/main/java/
src/main/resources/
src/test/
target/
